{
    "clientId":"",
    "guildId":"",
    "countingCh":"",
    "token":"",
    "useCustomEmoji":false,
    "SQL_USER":"",
    "SQL_PASS":"",
    "guildSaveSlots": 2,
    "userSavesPerGuildSave": 4,
    "saveClaimCooldown": 43200,
    "defaultSlots": 5,
    "initialSaves": 2,
    "savesPerClaim": 0.5,
    "numbersRequiredForFreeSave": 50,
    "freeSave": 0.1
}